<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633181316958-11sv3lle6biv7v3dcb5bde2g6fevag10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633181316958-11sv3lle6biv7v3dcb5bde2g6fevag10</string>
	<key>API_KEY</key>
	<string>AIzaSyBTS96gGtOu9CExXxEtuiOnELIPvm5Cj8A</string>
	<key>GCM_SENDER_ID</key>
	<string>633181316958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladimirkratinov.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-b66c6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-b66c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633181316958:ios:11fdc56b0b0e696d61d1cf</string>
</dict>
</plist>